<mat-toolbar class="sticky top-0 z-50 shadow-md px-6 py-2 flex items-center justify-between bg-cover bg-center"
             style="background-image: url('assets/images/wood-texture.jpg');">
  <span
    class="text-black rounded-lg px-4 py-1 text-lg font-semibold"
    [ngClass]="getLangBgClass()">
    {{ currentTitle | translate }}
  </span>

  <div class="flex items-center gap-4">

    <div class="flex items-center gap-2">
      <button (click)="changeLanguage('hu')"
              class="rounded-full p-2 shadow transition-transform hover:scale-105 border-2"
              [ngClass]="[ getLangBgClass(), currentLang === 'hu' ? 'border-green-600' : 'border-transparent' ]">
        <span class="fi fi-hu text-2xl drop-shadow-md"></span>
      </button>

      <button (click)="changeLanguage('en')"
              class="rounded-full p-2 shadow transition-transform hover:scale-105 border-2"
              [ngClass]="[ getLangBgClass(), currentLang === 'en' ? 'border-green-600' : 'border-transparent' ]">
        <span class="fi fi-gb text-2xl drop-shadow-md"></span>
      </button>
    </div>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="text-green-800 hover:text-green-900 transition drop-shadow-md !bg-amber-100">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" class="mt-2 overflow-x-hidden" >
      <ng-container>
        <button mat-menu-item [routerLink]="'/main'" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          <span>{{ 'MAIN_PAGE' | translate }}</span>
        </button>

        <button mat-menu-item [routerLink]="'/faultetes'" *ngIf="loggedInUser" routerLinkActive="active">
          <mat-icon>park</mat-icon>
          <span>{{ 'FA_ULTETES' | translate }}</span>
        </button>

        <button mat-menu-item [routerLink]="'/co2kalkulator'" *ngIf="loggedInUser" routerLinkActive="active">
          <mat-icon>co2</mat-icon>
          <span>{{ 'CO2.TITLE' | translate }}</span>
        </button>

        <button mat-menu-item [routerLink]="'/fogyasztas-rogzit'" *ngIf="loggedInUser" routerLinkActive="active">
          <mat-icon>computer</mat-icon>
          <span>{{ 'FOGYASZTAS_ADD' | translate }}</span>
        </button>

        <button mat-menu-item [routerLink]="'/fogyasztas-display'" *ngIf="loggedInUser" routerLinkActive="active">
          <mat-icon>bar_chart</mat-icon>
          <span>{{ 'FOGYASZTAS_DISPLAY' | translate }}</span>
        </button>

        <button mat-menu-item [routerLink]="'/profil'" *ngIf="loggedInUser" routerLinkActive="active">
          <mat-icon>person</mat-icon>
          <span>{{ 'PROFIL.TITLE' | translate }}</span>
        </button>

        <button mat-menu-item *ngIf="!loggedInUser" [routerLink]="'/login'" routerLinkActive="active">
          <mat-icon>login</mat-icon>
          <span>{{ 'LOGIN.TITLE' | translate }}</span>
        </button>

        <button mat-menu-item *ngIf="!loggedInUser" [routerLink]="'/register'" routerLinkActive="active">
          <mat-icon>person_add</mat-icon>
          <span>{{ 'REGISTER.TITLE' | translate }}</span>
        </button>

        <button mat-menu-item (click)="logout()" *ngIf="loggedInUser">
          <mat-icon>logout</mat-icon>
          <span>{{ 'LOGOUT' | translate }}</span>
        </button>
      </ng-container>
    </mat-menu>
  </div>
</mat-toolbar>
