<div class="form-container">
  <form *ngIf="!loading" [formGroup]="fogyasztasForm" (ngSubmit)="onSubmit()">
    <h2>{{ 'FOGYASZTAS_ADD' | translate }}</h2>

    <!-- Cím -->
    <mat-card>
      <h3>{{ 'CIM_ADATOK' | translate }}</h3>
      <div formGroupName="cim">
        <mat-checkbox formControlName="sajatLakas">
          {{ 'CIM_SAJAT_LAKAS' | translate }}
        </mat-checkbox>

        <div *ngIf="fogyasztasForm.get('cim.sajatLakas')?.value">
          <mat-form-field>
            <mat-label>{{ 'VALASSZ_LAKAST' | translate }}</mat-label>
            <mat-select formControlName="valasztottLakas">
              <mat-option *ngFor="let lakas of lakasok" [value]="lakas">
                {{ lakas }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>{{ 'ORSZAG' | translate }}</mat-label>
            <input matInput formControlName="orszag" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'IRANYITOSZAM' | translate }}</mat-label>
            <input matInput formControlName="iranyitoszam" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'TELEPULES' | translate }}</mat-label>
            <input matInput formControlName="telepules" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'UTCA' | translate }}</mat-label>
            <input matInput formControlName="utca" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'HAZSZAM' | translate }}</mat-label>
            <input matInput formControlName="hazszam" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'EPULET' | translate }}</mat-label>
            <input matInput formControlName="epulet" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'EMELET' | translate }}</mat-label>
            <input matInput formControlName="emelet" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'AJTO' | translate }}</mat-label>
            <input matInput formControlName="ajto" />
          </mat-form-field>
        </div>
      </div>
    </mat-card>


    <!-- Vízfogyasztás -->
    <mat-card>
      <h3>{{ 'VIZ_ADATOK' | translate }}</h3>
      <div formGroupName="viz">
        <mat-form-field>
          <mat-label>{{ 'HIDEGVIZ' | translate }}</mat-label>
          <input matInput type="number" formControlName="hidegViz" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'MELEGVIZ' | translate }}</mat-label>
          <input matInput type="number" formControlName="melegViz" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'BOJLER_TIPUS' | translate }}</mat-label>
          <mat-select formControlName="bojlerTipus">
            <mat-option *ngFor="let tipus of bojlerTipusok" [value]="tipus">
              {{ 'BOJLER_TIPUSOK.' + tipus | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card>


    <!-- Gázfogyasztás -->
    <mat-card>
      <h3>{{ 'GAZ_ADATOK' | translate }}</h3>
      <div formGroupName="gaz">
        <mat-form-field>
          <mat-label>{{ 'OSSZFOGYASZTAS' | translate }}</mat-label>
          <input matInput type="number" formControlName="osszfogyasztas" />
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Villamosenergia -->
    <mat-card>
      <h3>{{ 'VILLANY_ADATOK' | translate }}</h3>
      <div formGroupName="villany">
        <mat-form-field>
          <mat-label>{{ 'OSSZFOGYASZTAS_VILLANY' | translate }}</mat-label>
          <input matInput type="number" formControlName="osszfogyasztas" />
        </mat-form-field>
        <mat-checkbox formControlName="aramkimaradas">
          {{ 'ARAMKIMARADAS' | translate }}
        </mat-checkbox>

        <!-- Csak akkor jelenik meg, ha az áramkimaradás be van pipálva -->
        <div *ngIf="fogyasztasForm.get('villany.aramkimaradas')?.value">
          <mat-form-field>
            <mat-label>{{ 'ARAMKIMARADAS_IDOTARTAM' | translate }}</mat-label>
            <input matInput type="number" formControlName="kimaradasIdotartam" min="0" />
          </mat-form-field>
        </div>
      </div>
    </mat-card>

    <!-- Megjegyzések -->
    <mat-card>
      <h3>{{ 'MEGJEGYZES' | translate }}</h3>
      <mat-form-field>
        <mat-label>{{ 'MEGJEGYZES_TEXT' | translate }}</mat-label>
        <textarea matInput formControlName="megjegyzesek"></textarea>
      </mat-form-field>
    </mat-card>

    <button mat-raised-button color="primary" type="submit" [disabled]="loading">
      {{ 'MENTES' | translate }}
    </button>
  </form>
</div>
