<div class="profil-container">
  <mat-card class="profil-card">
    <mat-card-header>
      <mat-card-title>{{ 'PROFIL.TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="profilForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'PROFIL.VEZETEK_NEV' | translate }}</mat-label>
          <input matInput formControlName="vezetekNev" placeholder="{{ 'PROFIL.VEZETEK_NEV' | translate }}" type="text">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'PROFIL.KERESZT_NEV' | translate }}</mat-label>
          <input matInput formControlName="keresztNev" placeholder="{{ 'PROFIL.KERESZT_NEV' | translate }}" type="text">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'PROFIL.HAZ_ALAPTERULET' | translate }}</mat-label>
          <input matInput formControlName="hazAlapterulet" placeholder="{{ 'PROFIL.HAZ_ALAPTERULET' | translate }}" type="number" min="1">
        </mat-form-field>

        <mat-checkbox formControlName="szigeteles" class="full-width">
          {{ 'PROFIL.SZIGETELES' | translate }}
        </mat-checkbox>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'PROFIL.FUTES_TIPUSA' | translate }}</mat-label>
          <mat-select formControlName="futesTipusa">
            <mat-option *ngFor="let tipus of futesTipusok" [value]="tipus">
              {{ tipus }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button type="button" mat-raised-button color="accent" class="mt-4" (click)="openLakasModal()">
          {{ 'PROFIL.LAKAS_HOZZAADAS' | translate }}
        </button>

        <button mat-raised-button color="primary" class="full-width save-button mt-3" [disabled]="!profilForm.valid">
          {{ 'PROFIL.SUBMIT' | translate }}
        </button>
      </form>


    </mat-card-content>
  </mat-card>



  <!-- Modal -->
  <ng-template #lakasDialog>
    <h2 mat-dialog-title>{{ 'PROFIL.LAKAS_MODAL.TITLE' | translate }}</h2>
    <mat-dialog-content>
      <form [formGroup]="lakasForm">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'CIM.ORSZAG' | translate }}</mat-label>
          <input matInput formControlName="orszag" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'CIM.IRANYITOSZAM' | translate }}</mat-label>
          <input matInput formControlName="iranyitoszam" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'CIM.TELEPULES' | translate }}</mat-label>
          <input matInput formControlName="telepules" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'CIM.UTCA' | translate }}</mat-label>
          <input matInput formControlName="utca" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'CIM.HAZSZAM' | translate }}</mat-label>
          <input matInput formControlName="hazszam" />
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="dialogRef.close()">
        {{ 'PROFIL.LAKAS_MODAL.MEGSE' | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="saveLakas()">
        {{ 'PROFIL.LAKAS_MODAL.MENT' | translate }}
      </button>
    </mat-dialog-actions>
  </ng-template>
</div>
